<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118357133037-l57fghta1hji9sm5n3e6v841dvlnqm7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118357133037-l57fghta1hji9sm5n3e6v841dvlnqm7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAK1lxemJbDOyPQRcXCM_FuR1TVel4U2go</string>
	<key>GCM_SENDER_ID</key>
	<string>118357133037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COM.usman.CamTranslator</string>
	<key>PROJECT_ID</key>
	<string>cameratranslator-15810</string>
	<key>STORAGE_BUCKET</key>
	<string>cameratranslator-15810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:118357133037:ios:a93a865b268e9353782ee4</string>
	<key>DATABASE_URL</key>
	<string>https://cameratranslator-15810.firebaseio.com</string>
</dict>
</plist>
